<!DOCTYPE html>
<html>
@{
    ViewBag.Title = "DUT Administration System";
}
<body>

    <div>
        <center><h3>Student Information</h3></center>

        <center>@Html.ActionLink("Manage Student Information", "StudentIndex", "Student")</center>
        <center>@Html.ActionLink("Export All Students", "StudentIndex", "Student")</center>
    </div>

</body>

</html>

